/* @tailwind base;
@tailwind components;
@tailwind utilities; */
/* Hide Google Translate banner and elements */
body > .skiptranslate:first-child,
.goog-te-banner-frame,
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

body {
  top: 0 !important;
}

#google_translate_element {
  display: none !important;
}

.skiptranslate iframe {
  display: none !important;
}